footer {
    background-color: lightblue;
    text-align: right;
    padding: 1em;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: grey;
    padding: 1em;
}

#icono {
    width: 5em;

    left: 1em;
    
}

#general {
    display: flex;
}

.bloque-lateral {
    width: 7em;
    background-color: rgb(169, 251, 255);
}

.bloque-general {
    width: 100%;
    height: 15em;
}

footer, aside, div, header {
    border: 1px solid;
}